

<div ng-controller="controller">
<!--	You can use either a div having class 'google-map' or the '<google-map>' element; in
	the latter case, uncomment the style above to make sure the custom elements gets block display	-->
<div class="page-title ">
    <h2 ng-cloak>angular-google-maps example {{version}}</h2>
</div>
<div class="container">
    <div class="row">
        <google-map center="map.center" zoom="map.zoom" pan="true" draggable="true">
            <markers models="locations" coords="'self'" idkey="'title'" labelContent="'title'" doCluster="true"></markers>
            <polyline path="locations" draggable="false" geodesic="true" stroke="map.lineStyle" fit="true"></polyline>
        </google-map>
    </div>
</div>

</div>

